<ion-header>
  <ion-navbar>
    <ion-title>
      Iconic Blanco
    </ion-title>
  </ion-navbar>
  <ion-searchbar (ionInput)="getResults($event)"></ion-searchbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngIf="!(realResults | async)?.length">
      No results
    </ion-item>
    <ion-item *ngFor="let result of realResults | async">
      <ion-thumbnail item-start>
        <img [src]=httpImagesresult.poster_path>
      </ion-thumbnail>
      <h2> {{ result.title }} </h2>
      <p> {{ result.release_date }} </p>
      <button ion-button clear item-end [navPush]="detailsPage" [navParams]="result"> Detail</button>
    </ion-item>
  </ion-list>
</ion-content>
