<ion-header>
  <ion-navbar>
    <ion-title>
      Iconic Blanco
    </ion-title>
  </ion-navbar>
  <ion-searchbar (ionInput)="getResults($event)"></ion-searchbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngIf="!fakeResults.length">
      No results
    </ion-item>
    <ion-item *ngFor="let result of fakeResults">
      <ion-thumbnail item-start>
        <img [src]=result.image>
      </ion-thumbnail>
      <h2> {{ result.title }} </h2>
      <p> {{ result.author }} • {{ result.date }} </p>
    </ion-item>
  </ion-list>
</ion-content>
